<nav class="navbar-header">
    <div style="float: left;">
        <p class="navbar-brand">My Profile</p>
    </div>
    <div class="menuItems">
           <div class="search">
                <input type="text" placeholder="Search"/>
            </div>
            <ul>
                <li class="menu"><a [routerLink]="">Profile</a></li>
                <li class="menu"><a [routerLink]="">Contact</a></li>
                <li class="menu"><a [routerLink]="" (click)="switchStatus();this.flag = !this.flag;">{{status}}</a></li>
              </ul>
    </div>
</nav>
