html,body {
    height: 100%;
    position: relative;
    width: 100%;
    background-color: white;
    overflow-x: hidden; 
}

app-root {
    height: 100%;
    display: block;
    position: relative;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
